@import url('https://fonts.googleapis.com/css2? family=Kufam:wght@400;500;600&family=Maitree:wght@200;300;400;500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&family=Saira:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
}

